.email-container{
    max-width: 520px;
    margin: 0 auto
}

/*Header top and express links for men women and sale*/

header {
    height: 100px;
}

.header-a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

#vertical-line {
    color: black;
    border-left: solid 1px black;
    font-size: 12px;
}

.link-container{
    padding-top: 10px;
    text-align: center;
}

#express {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.bold-link {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 15px;
}

/* main body and text links*/

.shop-link-container{
    text-align: center;
    padding-bottom: 10px;
}

.shop-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

#image-text {
    font-size: 24px;
    font-family:serif;
    font-weight:400;
}

img{
    padding-bottom: 20px;
}

/*Bottom ul links to gift cards and finda store*/


#ul-links {
    text-align: center;
}

li {
    list-style: none;
    font-size: 30px;
    text-transform: uppercase;
    border-top: 1px solid grey;
    padding: 20px 0;
}
li:last-child{
    border-bottom: 1px solid grey;
}

.ul-a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

/*Icons and question/slogan*/



#question {
    font-family:sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
}
.icon-container{
    text-align: center;
}

.fab {
    font-size: 50px;
    padding: 0 15px;
}
/*instagram*/
.fa-instagram{
    color: darkorange;
}

/*snapchat*/
.fa-snapchat-ghost{
    color: gold;
}
/*twitter*/
.fa-twitter{
    color: skyblue;
}

/*facebook*/
.fa-facebook{
    color: dodgerblue;
}

/*google and apple badges*/
.platform-container {
    width: 100%;
    text-align: center;
    padding: 20px 0px 25px 0px;;
}

#apple {
    float: left;
}
#google{
    float: right;
}

.discount-container {
    text-align: center;
}

.discount {
    font-size: 30px;
    font-family: sans-serif;
}

.disclaimer {
    padding-bottom: 20px;
}
