html{
    box-sizing: border-box;
}
body {
    box-sizing: border-box;	
    background-color:"#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


